<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <br>
    <div class="signupbox">
      <%= form_for @user do |f| %>
        <%= f.label :user_name, "User Name" %>:
        <%= f.text_field :user_name, class:"form-control", placeholder:"ex. MrMacintosh", required: true %><br />
        <%= f.label :email, "Email" %>:
        <%= f.email_field :email, class:"form-control", placeholder:"ex. hello@google.com", required: true %><br />
        <%= f.label :password, "Password" %>:
        <%= f.password_field :password, class:"form-control", placeholder:"don't use password as your password", required: true %><br /> 
        
        <%= f.submit "Join Us!", class:"btn btn-primary form-control" %>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>
