<div class="row">
  <div class="col-md-3">
    <h2>Hello <%= current_user.name %></h2>
    <hr>
    <p><strong>Email:</strong> <%= current_user.email %></p>
    <p><strong>Age:</strong> <%= current_user.age %></p>
    <p><strong>Sex:</strong> <%= current_user.sex %></p>
    <p><strong>Weight:</strong> <%= current_user.weight %></p>
    <p><strong>Height:</strong> <%= current_user.height %></p>

    <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-default" %>


  </div>


        <div class="workout-title">
          <h1>My Workout Schedule</h1><hr>
       

              <ul class="nav nav-tabs" role="tablist">
                <li><a href="#day-1" aria-controls="monday" role="tab" data-toggle="tab">Mon</a></li>
                <li><a href="#day-2" aria-controls="tuesday" role="tab" data-toggle="tab">Tue</a></li>
                <li><a href="#day-3" aria-controls="wednesday" role="tab" data-toggle="tab">Wed</a></li>
                <li><a href="#day-4" aria-controls="thursday" role="tab" data-toggle="tab">Thu</a></li>
                <li><a href="#day-5" aria-controls="friday" role="tab" data-toggle="tab">Fri</a></li>
                <li><a href="#day-6" aria-controls="saturday" role="tab" data-toggle="tab">Sat</a></li>
                <li><a href="#day-7" aria-controls="sunday" role="tab" data-toggle="tab">Sun</a></li>
              </ul>
        </div>

   </div>
</div>